---
import { Image } from 'astro:assets';
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import CTA from '@/components/Cta.astro';
import { getWebPageSchema, getCombinedSchema } from '@/config/schemas';

interface Props {
  post: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const posts: CollectionEntry<'blog'>[] = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.id.replace('.md', '') },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

const title = `${post.data.title} | Kilómetros por Explorar`;
const description = post.data.description;
const pathname = Astro.url.pathname;

const pageSchema = getWebPageSchema(title, description, pathname);
const schema = getCombinedSchema(pageSchema);
---

<Layout title={title} description={description} schema={schema}>
  <main class="pt-20 bg-white">
    <!-- Hero image -->
    <div class="max-w-5xl mx-auto w-full">
      <Image
        width="1200"
        height="600"
        src={post.data.image}
        alt={post.data.title}
        class="w-full h-[240px] md:h-[420px] object-cover"
        loading="eager"
      />
    </div>

    <!-- Content -->
    <div
      class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 bg-white relative -mt-12 md:-mt-16 lg:-mt-20 z-10"
    >
      <!-- Header -->
      <header class="pt-8 md:pt-12 mb-8 text-center">
        <div
          class="mb-4 flex flex-wrap items-center justify-center gap-4 text-neutral-600"
        >
          <span class="capitalize">{post.data.author}</span>
          <span> | </span>
          <time datetime={post.data.date.toISOString()}>
            {
              post.data.date.toLocaleDateString('es-ES', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
              })
            }
          </time>
        </div>
        <h1 class="font-bold text-3xl md:text-4xl text-gray-900">
          {post.data.title}
        </h1>
      </header>

      <hr class="my-8 lg:my-16 border-t border-gray-300" />

      <!-- Article -->
      <article class="prose lg:prose-lg max-w-[800px] mx-auto mb-12">
        <Content />
      </article>

      <hr class="my-8 lg:my-16 border-t border-gray-300" />
    </div>

    <CTA />
  </main>
</Layout>
