---
import Instagram from '@/assets/logos/instagram.svg';
import TikTok from '@/assets/logos/tiktok.svg';
import Facebook from '@/assets/logos/facebook.svg';
import Logo from '@/assets/logo.svg';
import { SITE_CONFIG } from '@/config/site';

interface Social {
  name: 'Instagram' | 'TikTok' | 'Facebook';
  href: string;
  icon: typeof Instagram;
}

interface FooterLink {
  title: string;
  sublinks?: { title: string; url?: string }[];
}

const socials: Social[] = [
  {
    name: 'Instagram',
    href: SITE_CONFIG.social.instagram,
    icon: Instagram,
  },
  {
    name: 'TikTok',
    href: SITE_CONFIG.social.tiktok,
    icon: TikTok,
  },
  {
    name: 'Facebook',
    href: SITE_CONFIG.social.facebook,
    icon: Facebook,
  },
];

const footerLinks: FooterLink[] = [
  {
    title: 'Destinos Populares',
    sublinks: [
      {
        title: 'Japón',
        url: '/destinos/japon',
      },
      {
        title: 'Islandia',
        url: '/destinos/islandia',
      },
      {
        title: 'Estambul',
        url: '/destinos/estambul',
      },
    ],
  },
  {
    title: 'Contacto',
    sublinks: [
      {
        title: SITE_CONFIG.company.email,
        url: `mailto:${SITE_CONFIG.company.email}`,
      },
      {
        title: SITE_CONFIG.company.phone,
        url: `tel:${SITE_CONFIG.company.phone}`,
      },
      {
        title: SITE_CONFIG.company.phone2,
        url: `tel:${SITE_CONFIG.company.phone2}`,
      },
    ],
  },
  {
    title: 'Otros',
    sublinks: [
      {
        title: 'Aviso Legal',
        url: '/aviso-legal',
      },
      {
        title: 'Términos y Condiciones',
        url: '/terminos-y-condiciones',
      },
      {
        title: 'Política de Privacidad',
        url: '/politica-de-privacidad-y-cookies',
      },
    ],
  },
];
---

<footer class="border-t border-gray-300 text-gray-900">
  <div class="mx-auto max-w-5xl px-8 pt-8 pb-4 lg:pt-12">
    <div class="flex flex-row items-center justify-between">
      <Logo class="h-auto w-16" />
      <div class="flex flex-row gap-2">
        {
          socials.map(social => (
            <a
              href={social.href}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={social.name}
              class="transition-transform duration-200 hover:scale-110"
            >
              <social.icon />
            </a>
          ))
        }
      </div>
    </div>
    <div class="mt-6 flex flex-wrap justify-between text-gray-900 lg:gap-12">
      {
        footerLinks.map(link => (
          <div class="my-4 flex flex-col lg:my-0">
            <p class="text-xl font-semibold">{link.title}</p>
            {link.sublinks && (
              <div>
                {link.sublinks.map(sublink => (
                  <div>
                    <a href={sublink.url} class="hover:text-primary text-lg">
                      {sublink.title}
                    </a>
                  </div>
                ))}
              </div>
            )}
          </div>
        ))
      }
    </div>
    <div class="mt-4 text-center">&copy 2025 Kilómetros por Explorar</div>
  </div>
</footer>
